body {
  background-color: black;
}

.container {
  padding: 20px;
}
.showcase-container {
  height: 400px;  
  overflow-y: scroll;
  
  padding: 20px;
}

.showcase {
  display: flex;
  background-color: black;
}

.content {
	
	width: 50%;
  color: white;
  font-size: 50px;
  padding-top: 40px;
}


.image img {
	
	height: 420px;
	object-fit: cover;
}

.case-study {

    color: #116bfb;
    font-size: 25px;
}

.example {
  color: white;
}

.showcase-container::-webkit-scrollbar {
  width: 3px; 
}

.showcase-container::-webkit-scrollbar-thumb {
  background: #116bfb; 
  border-radius: 6px; 
}

.showcase-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); 
}

.showcase-container::-webkit-scrollbar-track {
  background: grey; 
}

.button button {
  color: white;
  font-size: 1.5rem;
  background-color: black;
}

.button button:hover {
  background: #116bfb; 
}

.highlighted{
  
}

.showcase {
  transition: opacity 1s ease-in-out;
  
}

.highlighted {
  opacity: 1;
}

.showcase:not(.highlighted) {
  opacity: 0.2;
}

 